# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env


# notebooks
.ipynb_checkpoints
**/data/

#Hardhat files
cache
artifacts
package-lock.json

#python
__pycache__/

#IDEs
.vscode/
.DS_Store

commontasks.sh
venv

#foundry
contracts/lib/